.contact-form {
	--_form-row-gap: var(--space-m-l);
	--_form-column-gap: calc(2 * var(--_form-spacing));
	--_form-spacing: var(--space-m);
	--_form-border-width: var(--border-normal);
	--_color-form-bg: var(--color-bg);
	--_color-form-border: var(--color-text);
	--_color-input-border: var(--color-text);

	--box-padding: var(--_form-spacing);
	--box-border-thickness: var(--_form-border-width);
	--color-box-border: var(--_color-form-border);
	--sidebar-gap: var(--_form-row-gap) var(--_form-column-gap);

	position: relative;
	background: var(--_color-form-bg);
	overflow: clip; /* why: the paper texture is overflowing on Chrome  */
	rotate: -1deg;

	@media (--portrait) {
		rotate: unset;
	}

	> * {
		--flow-space: var(--action-padding);
	}

	input,
	button,
	textarea {
		padding: unset;
	}

	input,
	button {
		padding-block: var(--action-padding);
	}

	input,
	textarea {
		border: none;
		border-radius: unset;
		background-color: #0000;
	}

	label {
		font-size: var(--step--1);
		text-transform: uppercase;
	}

	input,
	textarea:not(:placeholder-shown),
	.recipient {
		font-family: var(--font-handwritten);
		letter-spacing: var(--tracking-wide);
	}
}

.metadata {
	--stack-horizontal-alignment: stretch;
	--stack-vertical-alignment: space-between;
	--stack-gap: var(--sidebar-gap);

	position: relative;
	block-size: 100%;

	&::after {
		content: "";
		position: absolute;
		inset-inline-end: 0;
		inset-block-start: calc(-1 * var(--_form-spacing));
		inline-size: var(--_form-border-width);
		block-size: calc(100% + (2 * var(--_form-spacing)));
		/*
			Why use a border instead of background-color?
			Because the border persists when forced colors mode is active
		*/
		border-inline-start: var(--_form-border-width) solid
			var(--_color-form-border);
		translate: calc(0.5 * var(--_form-column-gap)) 0;

		@container (width > 50vi) {
			display: none;
		}
	}
}

.postage-stamp-container {
	position: relative;
	float: inline-end;
	margin-inline-start: 1em;
	outline: var(--_form-border-width) dashed var(--_color-form-border);
	aspect-ratio: 1;

	&::before,
	img {
		rotate: 10deg;
	}

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: var(--color-light);
		scale: 0.95;
	}

	img {
		max-block-size: 3.5lh;
		inline-size: auto;
		scale: 1.01;
		filter: brightness(0.8) contrast(2.5);
		mix-blend-mode: luminosity;
	}
}

.recipient {
	font-size: var(--step-1);
	rotate: -1deg;
	translate: 0.25ch 0;
}

.sender {
	--grid-row-gap: var(--flow-space);
	--grid-column-gap: 1ch;
	grid-template-columns: auto minmax(0, 1fr);

	> * {
		grid-column: 1/-1;

		display: grid;
		grid-template-columns: subgrid;
		align-items: baseline;
		gap: inherit;
	}

	/* https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/ */
	input:is(:-webkit-autofill, :autofill) {
		-webkit-text-fill-color: var(--color-text);
		-webkit-box-shadow: 0 0 0px 1000px var(--_color-form-bg) inset;
	}

	:has(> input) {
		border-block-end: var(--_form-border-width) solid var(--_color-input-border);
	}
}

.correspondence {
	--stack-horizontal-alignment: stretch;
	--stack-gap: var(--action-padding);

	* {
		inline-size: 100%;
	}

	.correspondence-inner,
	textarea {
		flex-grow: 9999;
	}

	textarea {
		background-image: linear-gradient(
			to bottom,
			transparent calc(1lh - var(--_form-border-width)),
			var(--_color-input-border) calc(1lh - var(--_form-border-width))
		);
		background-repeat: repeat-y;
		background-size: auto 1lh;

		@media (--forcedColors) {
			outline: var(--_form-border-width) solid var(--_color-input-border);
		}
	}

	textarea:not([rows]) {
		min-block-size: 6lh;
	}

	button {
		background-color: var(--color-btn-bg);
		transition:
			outline-offset var(--transition-duration),
			color var(--transition-duration),
			background-color var(--transition-duration),
			outline-color var(--transition-duration),
			scale calc(0.5 * var(--transition-duration));
		transition-timing-function: var(--ease-out-3);

		&:not(:focus-visible) {
			outline: var(--_form-border-width) solid var(--_color-form-border);
		}

		&:hover,
		&:focus-visible {
			background-color: var(--color-btn-hover-bg);
			color: var(--color-btn-hover-text);
			outline-color: var(--color-btn-hover-bg);
			-webkit-font-smoothing: antialiased;

			@media (--OSdark) {
				-webkit-font-smoothing: auto;
			}
		}

		&:active {
			scale: 0.97;
		}
	}
}
