.project-item {
	--stack-gap: 0;
	--stack-horizontal-alignment: stretch;

	position: sticky;
	inset-block-start: var(--scroll-margin-block-start);
	counter-increment: project-counter;
	outline: var(--border-normal) solid;

	/* TODO: should I add a scroll-driven animation to stack the cards? */

	@supports (width: calc(sibling-index() * 100px)) {
		inset-block-start: calc(
			var(--scroll-margin-block-start) + (0.125lh * (sibling-index() - 1))
		);
	}

	&:focus-within {
		z-index: 3;
	}

	/* TODO: check if -webkit-font-smoothing value needs to be updated in dark mode  */
	&::before {
		content: "0" counter(project-counter);
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		padding-block: 0.25lh;
		padding-inline-start: var(--space-m);
		padding-inline-end: calc(0.25 * var(--space-m));
		background: var(--color-text);
		color: var(--color-bg);
		font-family: var(--font-handwritten);
		font-size: var(--step--1);
		line-height: var(--leading-snug);
	}
}

.project-thumbnail {
	block-size: 8lh;
	background-color: var(--color-text);
	border-block-end: var(--border-normal) solid;
}

.project-content {
	--stack-gap: initial;
	flex-grow: 9999;
	outline: none;

	> .stack {
		block-size: 100%;

		> :last-child {
			margin-block-start: auto;
		}
	}
}
