.site-banner {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		inset-block-end: 0;
		inset-inline-start: 0;
		inline-size: 100%;
		block-size: var(--site-nav-border);
		/*
			Why subtract var(--site-nav-padding) if we want to center it in the middle of the nav?
			Because the nav is being pulled up by that value using a negative margin.
		*/
		translate: 0
			calc((1 / 2 * var(--site-nav-height)) - var(--site-nav-padding));
		/*
			Why use a border instead of background-color?
			Because the border persists when forced colors mode is active
		*/
		border-block-start: var(--site-nav-border) solid var(--color-text);
		filter: url(#n0);
	}
}

.banner-text {
	font-size: var(--fluid-43-147); /* step-3 to step-6 */
	letter-spacing: var(--tracking-tight);
}

.introduction {
	font-size: var(--step-1);
	line-height: var(--leading-snug);
}
