.site-nav {
	position: sticky;
	inset-block-start: 0px;
	margin-block-start: calc(-1 * var(--site-nav-padding));
	/*https://codepen.io/larsenwork/pen/LymMJy*/
	background: linear-gradient(
		to bottom,
		var(--color-bg),
		hsl(from var(--color-bg) h s l / 0.988) 7.7%,
		hsl(from var(--color-bg) h s l / 0.956) 14.8%,
		hsl(from var(--color-bg) h s l / 0.91) 21%,
		hsl(from var(--color-bg) h s l / 0.854) 26.5%,
		hsl(from var(--color-bg) h s l / 0.794) 31.4%,
		hsl(from var(--color-bg) h s l / 0.731) 35.9%,
		hsl(from var(--color-bg) h s l / 0.667) 40.1%,
		hsl(from var(--color-bg) h s l / 0.599) 44.2%,
		hsl(from var(--color-bg) h s l / 0.533) 48.1%,
		hsl(from var(--color-bg) h s l / 0.466) 52%,
		hsl(from var(--color-bg) h s l / 0.397) 56%,
		hsl(from var(--color-bg) h s l / 0.33) 60.1%,
		hsl(from var(--color-bg) h s l / 0.266) 64.3%,
		hsl(from var(--color-bg) h s l / 0.203) 68.8%,
		hsl(from var(--color-bg) h s l / 0.143) 73.7%,
		hsl(from var(--color-bg) h s l / 0.089) 79.2%,
		hsl(from var(--color-bg) h s l / 0.043) 85.4%,
		hsl(from var(--color-bg) h s l / 0.011) 92.5%,
		transparent
	);
	z-index: 2;

	@supports (container-type: scroll-state) {
		container-type: scroll-state;
		container-name: site-nav;
	}

	> .scroll--viewport {
		padding-block: var(--site-nav-padding);

		max-inline-size: 100vi;
		overflow: auto hidden;
		overscroll-behavior-x: contain;

		/* TODO: style scrollbar when forced colors mode is active */

		&::-webkit-scrollbar {
			block-size: var(--space-2xs);
		}

		&::-webkit-scrollbar-track {
			background: var(--color-scrollbar-track);
			background-clip: padding-box;
		}

		&::-webkit-scrollbar-thumb {
			background: var(--color-scrollbar-thumb);
			/*border-radius: 1e3px;*/
			border: var(--space-4xs) solid var(--color-scrollbar-track);
		}

		&:is(:focus-visible, :focus-within)::-webkit-scrollbar-thumb,
		&:hover::-webkit-scrollbar-thumb {
			background: var(--color-scrollbar-thumb-hover);
		}

		@supports (-moz-appearance: none) {
			scrollbar-width: thin;
			scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);

			&:hover {
				scrollbar-color: var(--color-scrollbar-thumb-hover)
					var(--color-scrollbar-track);
			}
		}
	}

	.scroll--content {
		--cluster-gap: var(--space-xs-s);
		padding-inline: var(--site-nav-padding);
		/* TODO: this comment needs to be more clearer */
		/* why: without this declaration the width would be the same as its parent even though its overflowing and the padding-inline-end would get ignored  */
		inline-size: max-content;

		> li {
			flex-shrink: 0;
		}

		> :first-child {
			rotate: 2deg;
		}

		> :nth-child(2) {
			rotate: -2deg;
		}

		> :last-child {
			rotate: 2deg;
		}
	}

	a {
		position: relative;
		display: inline-block;
		padding: var(--site-nav-link-padding-block)
			var(--site-nav-link-padding-inline);
		background: var(--color-bg);
		outline: var(--site-nav-border) solid;
		line-height: var(--leading-tight);
		/*text-transform: uppercase;
		text-decoration-line: none;
		text-box: trim-end cap alphabetic;*/
		transition:
			outline-offset var(--transition-duration),
			box-shadow var(--transition-duration),
			scale calc(0.5 * var(--transition-duration));
		transition-timing-function: var(--ease-out-3);

		@container site-nav scroll-state(stuck) {
			box-shadow: var(--shadow-3);
		}

		/*&:hover,
		&:focus-visible {
			text-decoration-line: underline;
		}*/

		&:active {
			scale: 0.97;
		}
	}
}
