.skip-to-main {
	padding: var(--action-padding);
	background: var(--color-bg);
	transition:
		outline-offset var(--transition-duration) var(--ease-out-3),
		rotate var(--transition-duration) var(--ease-out-3);

	&:focus-visible {
		position: absolute;
		inset-block-start: var(--page-gutter);
		inset-inline-start: var(--page-gutter);
		rotate: -2deg;
		/*box-shadow: var(--shadow-3);*/
		z-index: 1;
	}
}
