.speckles {
	position: absolute;
	inset-inline-start: 0;
	inset-block-start: 0;
	inline-size: 100%;
	block-size: 100%;
	pointer-events: none;
	scale: -1 -1;
	z-index: -1;
	mix-blend-mode: hard-light;

	path {
		fill: var(--color-text);
	}
}
