.wrapper {
	max-inline-size: var(--wrapper-max-width, 80rem);
	margin-inline: auto;
	padding-inline: var(--page-gutter, var(--space-m-l));
}

.region {
	padding-block-start: var(
		--region-start-space,
		var(--region-space, var(--space-m-l))
	);
	padding-block-end: var(
		--region-end-space,
		var(--region-space, var(--space-m-l))
	);
}

.inline-size-container {
	container-type: inline-size;
}

.visually-hidden:not(:focus-visible):not(:active) {
	position: absolute;
	block-size: 0;
	inline-size: 1px;
	margin: 0;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	white-space: nowrap;
	overflow: hidden;
}

.inverted {
	background: var(--color-text);
	color: var(--color-bg);
	-webkit-font-smoothing: antialiased;

	@media (--OSdark) {
		-webkit-font-smoothing: auto;
	}
}

.distorted {
	filter: url(#n1);
}

.font-handwritten {
	font-family: var(--font-handwritten);
	line-height: var(--leading-tight);
	letter-spacing: var(--tracking-wide);
}
