---
/* Type imports */

/* Regular imports (components, assets, constants, etc.) */
import BaseLayout from "@layouts/BaseLayout.astro";

/* Interface Props */

/* Extract props */

/* Other local constants or functions */
const pageTitle = "Hello world";
const pageDesc =
	"The unique description of the page displayed on search result pages. It can be any length, but search engines truncate snippets to 155–160 characters.";
---

<BaseLayout pageTitle={pageTitle} pageDesc={pageDesc}>
	<h1>{pageTitle}</h1>
</BaseLayout>
