---
import { Image } from "astro:assets";

import postageStamp from "@assets/img/bhagat-singh-postage.png";
---

<form class="contact-form box" action="" method="get">
	<div class="sidebar inline-size-container">
		<div class="metadata stack">
			<div>
				<div class="postage-stamp-container">
					<Image src={postageStamp} alt="A description of my image." />
				</div>
				<div class="flow">
					<p>To,</p>
					<p class="recipient">Arpit Agrawal</p>
				</div>
			</div>
			<div class="flow">
				<p>From,</p>
				<div class="sender grid">
					<div>
						<label for="full-name">Name:</label>
						<input
							id="full-name"
							name="full-name"
							type="text"
							autocomplete="name"
							required
						/>
					</div>
					<div>
						<label for="email-address">Email:</label>
						<input
							id="email-address"
							name="email-address"
							type="email"
							autocomplete="email"
							required
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="correspondence stack">
		<div class="correspondence-inner stack">
			<label for="message">Your message:</label>
			<textarea id="message" name="message"></textarea>
		</div>
		<button type="submit">Send</button>
	</div>
</form>
