#contact {
	> :last-child {
		--center-max-width: 48rem;
		gap: var(--space-l);
	}

	form {
		align-self: stretch;
	}
}

.or {
	--grid-gap: var(--space-xs);
	grid-template-columns: auto minmax(0, 1fr) auto;
	align-items: center;

	/*font-size: var(--step-1);
	line-height: var(--leading-snug);*/

	span {
		text-align: center;
		text-wrap: balance;
	}

	svg {
		inline-size: 2ch;
		rotate: -18deg;

		path {
			fill: currentColor;
		}
	}

	> :first-child {
		scale: -1 1;
		rotate: 12deg;
	}
}

.mail {
	font-size: var(--step-1);
	line-height: var(--leading-flat);
	padding: var(--action-padding);
	rotate: 1deg;
	text-align-last: center;
}
