#projects {
	> :last-child {
		--grid-min-item-size: min(25ch, 100%);
		grid-auto-rows: 1fr;
	}

	.project-item,
	.blockquote {
		box-shadow: var(--shadow-3);
	}

	.project-item {
		&:nth-child(odd) {
			rotate: 1deg;
		}

		&:nth-child(even) {
			rotate: -1deg;
		}

		&:first-child {
			rotate: 2deg;
		}

		&:nth-child(2) {
			rotate: -2deg;
		}
	}

	.blockquote {
		--color-box-border: var(--color-text);
		z-index: 1;
	}

	@container (width >= 36.5rem) {
		.project-item,
		.blockquote {
			box-shadow: unset;
		}

		.project-item {
			position: relative;
			inset-block-start: unset;
		}
	}
}
