---
import { Image } from "astro:assets";
import profilePic from "@assets/img/profile-dot.png";
import Sunflower from "@assets/img/sunflower.svg";
import SparklyText from "@components/SparklyText.astro";
import Heart from "@assets/img/heart.svg";
---

<section class="inline-size-container wrapper" id="about-me">
	<div class="center">
		<h2>About me</h2>
		<div class="profile-pic-container">
			<Image class="profile-pic" src={profilePic} alt="" />
		</div>
	</div>
	<p>
		<Sunflower />
		Hi! I'm Arpit Agrawal (he/him), a self-taught web designer-developer. I design
		and build websites that are fast, user-friendly and beautiful.
	</p>
	<p>
		I believe the web is for <span class="font-handwritten">everyone</span>. So,
		I strive to make websites that are inclusive and accessible to everyone,
		regardless of their ability, device or connection speed.
	</p>
	<p>
		My first experience with this profession was in 2019 when I watched my
		cousin build a website. It felt <SparklyText>magical.</SparklyText> He'd type
		out these strange incantations and the computer would obey. I didn’t realise
		it then, but I had stumbled upon my true calling.
	</p>
	<p>
		<Heart />
		I love that I get to design and build, that’s where I feel most at home.
	</p>
</section>
